.Modal {
  position: absolute;
  min-width: 20rem;
  max-width: 50rem;
  outline: none;
  text-align: center;
  background-color: #e9e9e9;
}

.btn-teal {
  color: white;
  /* background-color: #5bcfc6; */
  background-color: #ea8889;
}

.btn-teal:hover {
  color: white;

  /* background-color: #4fc1b8; */
  background-color: #211f1f;
}

.modal-header-section {
  border-radius: 0;
  /* background-image: linear-gradient(to right, #5bcfc6 5%, #6dd1cc 55%); */
  /* background-image: rgb(238, 29, 36); */
  background-color: #ea8889;
  text-align: right;
  padding: 15px 0 15px 0;
}

.modal-header-section h2 {
  text-align: center;
  color: white;
  vertical-align: middle;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 50ms ease-in;
}

.ReactModal__Content {
  width: 30%;
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 350ms ease-out, opacity 600ms;
}

.ReactModal__Content.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
  transition: transform 350ms ease-out, opacity 600ms;
}

.content {
  padding: 2.5rem;
}

.close-button {
  padding: 0;
  margin-right: 10px;
  /* margin-top: -20px; */
  display: inline;
}

.curve-button {
  border-radius: 5px;
}

.successful_greeting {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successful_greeting > p {
  margin-bottom: 0;
  margin-top: 0;
}

.navbar-collapsee {
  display: flex !important;
  flex-basis: auto !important;
  width: 100% !important;
  flex-direction: row !important;
}

.authentication_items {
  width: 15%;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.navbar-collapsee > ul {
  margin: 5px;
}

.nav-style {
  width: 100%;
  list-style: none;
}

.navbar-brand {
  cursor: "pointer";
  font-size: 2em;
  font-weight: 600;
}

.move-right {
  margin-right: 5px;
}

.header_style {
  font-family: "Courier New", Courier, monospace;
  font-size: 4em;
}

@media only screen and (max-width: 992px) {
  .nav-style {
    width: 100%;
    list-style: none;
  }

  .navbar-collapsee {
    display: flex !important;
    flex-basis: auto !important;
    width: 50% !important;
    flex-direction: row !important;
  }
}
